In [1]:
import sys
import csv
import os
import json

datadir = '/Users/dragonjohn/Documents/DevEnv/Python/MLCR2malwareDetect/dataset/'
train_CSV_file = 'train.csv'
output_train_csv_file = 'train_data.csv'
output_test_csv_file = 'test_data.csv'

info_feature_selected = [1, 4, 7, 8, 9, 11, 12, 14, 18, 23, 26, 29, 30, 32, 33, 34]

if len(sys.argv)>=2:
    datadir = sys.argv[1]
else:
    print "no dataset directory provided"
    exit(1)

def select_info_feature():
    selected_label = []
    with open('info_label.txt', 'rb') as info_label_file:
        labels = info_label_file.readlines()
        for idx, row in enumerate(labels):
            if idx in info_feature_selected:
                selected_label.append(row.rstrip())
    return selected_label

def get_info_train_dataset(selected_features):
    train_x = []
    title_row = ['label']+ selected_features
    train_x.append(title_row)
    with open(datadir + train_CSV_file, 'rb') as csvfile:
        spamreader = csv.reader(csvfile, delimiter = ',', quotechar='"')
        for row in spamreader:
            data_row = []
            data_row.append(row[1])
            with open(datadir + 'train/' + row[0] + '/info') as info_file:
                data = json.load(info_file)
                for key, value in data.items():
                    if key in selected_features:
                        data_row.append(value)
            train_x.append(data_row)
    return train_x

def get_info_test_dataset(selected_features):
    test_x = []
    for filefolder in os.listdir(datadir + 'test/'):
        if filefolder.startswith('.'):
            continue
        data_row = []
        data_row.append(filefolder)
        with open(datadir + 'test/' + filefolder +'/info') as info_file:
            data = json.load(info_file)
            for key, value in data.items():
                if key in selected_features:
                    data_row.append(value)
        test_x.append(data_row)
    return test_x

In [38]:
import pandas
f1 = pandas.read_csv('dataset/train_data.csv', comment="#", header=None, engine='c', dtype={0: 'object'})
#f1.columns
#f1.columns = ["label"]+f1.columns.tolist()
label = f1.ix[1:,:0]
label

       0
1      0
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
11     1
12     0
13     1
14     1
15     1
16     0
17     0
18     0
19     0
20     0
21     1
22     1
23     0
24     0
25     0
26     1
27     0
28     1
29     1
30     0
...   ..
49971  0
49972  1
49973  0
49974  0
49975  0
49976  0
49977  1
49978  0
49979  0
49980  0
49981  1
49982  1
49983  0
49984  0
49985  0
49986  1
49987  0
49988  1
49989  1
49990  0
49991  0
49992  1
49993  0
49994  0
49995  0
49996  1
49997  0
49998  1
49999  0
50000  1

[50000 rows x 1 columns]

In [22]:
import numpy as np
data = f1.ix[1:,1:]
da = np.array(data,dtype="float32")
da

array([[  1.39771264e+09,   7.99998331e+00,   4.09600000e+03, ...,
          1.67936000e+05,   1.60000000e+01,   4.14814800e+07],
       [  5.84634752e+08,   7.69239235e+00,   4.09600000e+03, ...,
          4.01408000e+05,   1.60000000e+01,   3.28192000e+05],
       [  1.33908480e+09,   6.61794615e+00,   1.63840000e+04, ...,
          7.29088000e+05,   1.60000000e+01,   6.74304000e+05],
       ...,
       [  1.43971661e+09,   4.09600000e+03,   0.00000000e+00, ...,
          1.60000000e+01,   3.52256000e+05,              nan],
       [  1.43706496e+09,   7.98713350e+00,   4.09600000e+03, ...,
          2.74022400e+06,   1.60000000e+01,   1.01558080e+08],
       [  1.33011123e+09,   6.24908876e+00,   4.09600000e+03, ...,
          5.17734400e+06,   1.60000000e+01,   7.57370000e+04]], dtype=float32)

In [39]:
import numpy as np
import pandas

def parsefile(f):
    f1 = pandas.read_csv(f, comment="#", header=None, engine='c', dtype={0: 'object'})
    label = f1.ix[1:,:0]
    data = f1.ix[1:,1:]
    da = np.array(data,dtype="float32")
    return da, label